

/*

	Notes
		* absolute left and right values should now be places on the container element, not the individual notifications

*/
/**
 * Colorized Background
 */
.fos-Alert--horizontal {
  border-radius: 2px;
}
.fos-Alert-icon .t-Icon {
  color: #FFF;
}
/**
  * Modifier: Warning
  */
.fos-Alert--warning .fos-Alert-icon .t-Icon {
  color: #fbcf4a;
}
.fos-Alert--warning.fos-Alert--horizontal .fos-Alert-icon {
  background-color: rgba(251, 207, 74, 0.15);
}
/**
  * Modifier: Success
  */
.fos-Alert--success .fos-Alert-icon .t-Icon {
  color: #3BAA2C;
}
.fos-Alert--success.fos-Alert--horizontal .fos-Alert-icon {
  background-color: rgba(59, 170, 44, 0.15);
}
/**
  * Modifier: Information
  */
.fos-Alert--info .fos-Alert-icon .t-Icon {
  color: #0076df;
}
.fos-Alert--info.fos-Alert--horizontal .fos-Alert-icon {
  background-color: rgba(0, 118, 223, 0.15);
}
/**
  * Modifier: Success
  */
.fos-Alert--danger .fos-Alert-icon .t-Icon {
  color: #f44336;
}
.fos-Alert--danger.fos-Alert--horizontal .fos-Alert-icon {
  background-color: rgba(244, 67, 54, 0.15);
}
.fos-Alert--horizontal {
  background-color: #ffffff;
  color: #262626;
}
/*
.fos-Alert--danger{
	@bg: lighten(@g_Danger-BG, 40%);
	background-color: @bg;
	color: fade(contrast(@bg, desaturate(darken(@bg,  100%), 100%), desaturate(lighten(@bg,  100%), 50%)), 100%);
}
.fos-Alert--info {
	@bg: lighten(@g_Info-BG, 55%);
	background-color: @bg;
	color: fade(contrast(@bg, desaturate(darken(@bg,  100%), 100%), desaturate(lighten(@bg,  100%), 50%)), 100%);
}
*/
.fos-Alert--page.fos-Alert--success {
  background-color: rgba(59, 170, 44, 0.9);
  color: #FFF;
}
.fos-Alert--page.fos-Alert--success .fos-Alert-icon {
  background-color: transparent;
  color: #FFF;
}
.fos-Alert--page.fos-Alert--success .fos-Alert-icon .t-Icon {
  color: inherit;
}
.fos-Alert--page.fos-Alert--success .t-Button--closeAlert {
  color: #FFF !important;
}
.fos-Alert--page.fos-Alert--warning {
  background-color: #fbcf4a;
  color: #443402;
}
.fos-Alert--page.fos-Alert--warning .fos-Alert-icon {
  background-color: transparent;
  color: #443402;
}
.fos-Alert--page.fos-Alert--warning .fos-Alert-icon .t-Icon {
  color: inherit;
}
.fos-Alert--page.fos-Alert--warning .t-Button--closeAlert {
  color: #FFF !important;
}
.fos-Alert--page.fos-Alert--info {
  background-color: #0076df;
  color: #FFF;
}
.fos-Alert--page.fos-Alert--info .fos-Alert-icon {
  background-color: transparent;
  color: #FFF;
}
.fos-Alert--page.fos-Alert--info .fos-Alert-icon .t-Icon {
  color: inherit;
}
.fos-Alert--page.fos-Alert--info .t-Button--closeAlert {
  color: #FFF !important;
}
.fos-Alert--page.fos-Alert--danger {
  background-color: #f44336;
  color: #FFF;
}
.fos-Alert--page.fos-Alert--danger .fos-Alert-icon {
  background-color: transparent;
  color: #FFF;
}
.fos-Alert--page.fos-Alert--danger .fos-Alert-icon .t-Icon {
  color: inherit;
}
.fos-Alert--page.fos-Alert--danger .t-Button--closeAlert {
  color: #FFF !important;
}
/* Horizontal Alert ========================================================================== */
.fos-Alert--horizontal {
  margin-bottom: 1.6rem;
  position: relative;
}
.fos-Alert--horizontal .fos-Alert-wrap {
  display: flex;
  flex-direction: row;
}
.fos-Alert--horizontal .fos-Alert-icon {
  padding: 0 16px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.fos-Alert--horizontal .fos-Alert-content {
  padding: 16px;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fos-Alert--horizontal .fos-Alert-buttons {
  flex-shrink: 0;
  text-align: right;
  white-space: nowrap;
  padding-right: 1.6rem;
  display: flex;
  align-items: center;
}
.u-RTL .fos-Alert--horizontal .fos-Alert-buttons {
  padding-right: 0;
  padding-left: 1.6rem;
}
.fos-Alert--horizontal .fos-Alert-buttons:empty {
  display: none;
}
.fos-Alert--horizontal .fos-Alert-title {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}
.fos-Alert--horizontal .fos-Alert-body:empty {
  display: none;
}
.fos-Alert--horizontal .fos-Alert-icon .t-Icon {
  font-size: 32px;
  width: 32px;
  text-align: center;
  height: 32px;
  line-height: 1;
}
/* ========================================================================== Common Properties ========================================================================== */
.fos-Alert--horizontal {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.075);
}
.fos-Alert--noIcon.fos-Alert--horizontal .fos-Alert-icon {
  display: none !important;
}
.fos-Alert--noIcon .fos-Alert-icon .t-Icon {
  display: none;
}
.t-Body-alert {
  margin: 0;
}
.t-Body-alert .fos-Alert {
  margin-bottom: 0;
}
/* Page Notification (Success or Message) ========================================================================== */
.fos-Alert--page {
  transition: 0.2s ease-out;
  max-width: 640px;
  min-width: 320px;
  /*position: fixed; top: 1.6rem; right: 1.6rem;*/
  z-index: 1000;
  border-width: 0;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1) inset, 0 3px 9px -2px rgba(0, 0, 0, 0.1);
  /* For very small screens, fit the message to the top of the screen */
  /* Set Border Radius to 0 as message exists within content */
  /* Page Level Warning and Errors ========================================================================== */
  /* Scrollbars */
}
.fos-Alert--page .fos-Alert-buttons {
  padding-right: 0;
}
.fos-Alert--page .fos-Alert-icon {
  padding-left: 1.6rem;
  padding-right: 8px;
}
.u-RTL .fos-Alert--page .fos-Alert-icon {
  padding-left: 8px;
  padding-right: 1.6rem;
}
.fos-Alert--page .fos-Alert-icon .t-Icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 1;
}
.fos-Alert--page .fos-Alert-body {
  padding-bottom: 8px;
}
.fos-Alert--page .fos-Alert-content {
  padding: 8px;
}
.fos-Alert--page .t-Button--closeAlert {
  position: absolute;
  right: -8px;
  top: -8px;
  padding: 4px;
  min-width: 0;
  background-color: #000 !important;
  color: #FFF !important;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25) !important;
  border-radius: 24px;
  transition: -webkit-transform 0.125s ease;
  transition: transform 0.125s ease;
  transition: transform 0.125s ease, -webkit-transform 0.125s ease;
}
.u-RTL .fos-Alert--page .t-Button--closeAlert {
  right: auto;
  left: -8px;
}
.fos-Alert--page .t-Button--closeAlert:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.fos-Alert--page .t-Button--closeAlert:active {
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}
/*.u-RTL .fos-Alert--page { right: auto; left: 1.6rem; }*/
.fos-Alert--page.fos-Alert {
  border-radius: 0.4rem;
}
.fos-Alert--page .fos-Alert-title {
  padding: 8px 0;
}
.fos-Alert--page.fos-Alert--warning .a-Notification {
  margin-right: 8px;
}
.fos-Alert--page.fos-Alert--warning .a-Notification-title {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}
.fos-Alert--page.fos-Alert--warning .a-Notification-list {
  max-height: 128px;
}
.fos-Alert--page .a-Notification-list {
  max-height: 96px;
  overflow: auto;
}
.fos-Alert--page .a-Notification-link:hover {
  text-decoration: underline;
}
.fos-Alert--page ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.fos-Alert--page ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
}
.fos-Alert--page ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}
.fos-Alert--page .fos-Alert-title {
  display: block;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0;
  margin-right: 16px;
}
.fos-Alert--page .fos-Alert-body {
  margin-right: 16px;
}
.u-RTL .fos-Alert--page .fos-Alert-title {
  margin-right: 0;
  margin-left: 16px;
}
.u-RTL .fos-Alert--page .fos-Alert-body {
  margin-right: 0;
  margin-left: 16px;
}
.fos-Alert--page .a-Notification-list {
  margin: 4px 0 0 0;
  padding: 0;
  list-style: none;
}
.fos-Alert--page .a-Notification-item {
  padding-left: 20px;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  /* Extra Small Screens */
}
.fos-Alert--page .a-Notification-item:last-child {
  margin-bottom: 0;
}
.u-RTL .fos-Alert--page .a-Notification-item {
  padding-left: 0;
  padding-right: 20px;
}
.fos-Alert--page .a-Notification-item:before {
  content: '';
  position: absolute;
  margin: 8px;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/*.u-RTL .fos-Alert--page .a-Notification-item:before { right: 0; left: auto; }*/
.fos-Alert--page .a-Notification-item .a-Button--notification {
  padding: 2px;
  opacity: 0.75;
  vertical-align: top;
}
.fos-Alert--page .htmldbOraErr {
  margin-top: 0.8rem;
  display: block;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-family: 'Menlo', 'Consolas', monospace, serif;
  white-space: pre-line;
}
/* Accessible Heading ========================================================================== */
.fos-Alert--accessibleHeading .fos-Alert-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Hidden Heading (Not Accessible) ========================================================================== */
.fos-Alert--removeHeading .fos-Alert-title {
  display: none;
}
@media (max-width: 480px) {
  .fos-Alert--page {
    /*left: 1.6rem;*/
    min-width: 0;
    max-width: none;
  }
  .fos-Alert--page .a-Notification-item {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .fos-Alert--horizontal .fos-Alert-title {
    font-size: 1.8rem;
  }
}
/* ------------------------------------------------------------------------------------ */
/* Icon.css */
.fos-Alert .t-Icon.icon-close:before {
  font-family: "apex-5-icon-font";
  display: inline-block;
  vertical-align: top;
}
.fos-Alert .t-Icon.icon-close:before {
  line-height: 16px;
  font-size: 16px;
  content: "\e0a2";
}
/* ------------------------------------------------------------------------------------ */
.fostr-top-center {
  top: 1.6rem;
  right: 0;
  width: 100%;
}
.fostr-bottom-center {
  bottom: 1.6rem;
  right: 0;
  width: 100%;
}
.fostr-top-right {
  top: 1.6rem;
  right: 1.6rem;
}
.fostr-top-left {
  top: 1.6rem;
  left: 1.6rem;
}
.fostr-bottom-right {
  right: 1.6rem;
  bottom: 1.6rem;
}
.fostr-bottom-left {
  bottom: 1.6rem;
  left: 1.6rem;
}
.fostr-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  /*overrides*/
}
.fostr-container > div {
  pointer-events: auto;
}
.fostr-container.fostr-top-center > div,
.fostr-container.fostr-bottom-center > div {
  /*width: 300px;*/
  margin-left: auto;
  margin-right: auto;
}
.fostr-progress {
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: black;
  opacity: 0.4;
}
html:not(.u-RTL) .fostr-progress {
  left: 0;
  border-bottom-left-radius: 0.4rem;
}
html.u-RTL .fostr-progress {
  right: 0;
  border-bottom-right-radius: 0.4rem;
}
@media (max-width: 480px) {
  .fostr-container {
    left: 1.6rem;
    right: 1.6rem;
  }
}




